body
	{
		font-family: Arial;
		font-size:10pt;
		background: #FFFFFF;
		padding: 0px;	 	
	}
	
h2
	{
		vertical-align: bottom;
		font-family: Arial;
		font-size:12pt;
	}
	
table
	{
		background: #99CCCC;
		font-family: Arial;
		font-size:10pt;	
	}
td
	{
		padding: 2px 2px 2px 2px;
		margin: 2px 2px 2px 2px;
		background: #FFFFFF;
	}	
p
	{
		padding: 3px 3px 3px 3px;
		margin: 2px 2px 2px 2px;
		background: #88DDEE;
	}
